<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662204705872-t8jm7bmce9bmfbdo3mt5tkhvg81bqgva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662204705872-t8jm7bmce9bmfbdo3mt5tkhvg81bqgva</string>
	<key>API_KEY</key>
	<string>AIzaSyDkWWOEddcypKn58vHt88USDi38GgdCBsc</string>
	<key>GCM_SENDER_ID</key>
	<string>662204705872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eunju.Vegin-iOS</string>
	<key>PROJECT_ID</key>
	<string>vegin-6f250</string>
	<key>STORAGE_BUCKET</key>
	<string>vegin-6f250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662204705872:ios:48b135ef878a9cfd677555</string>
</dict>
</plist>